.vagrant
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea
/public/build/*
/public/customer/*
/public/admin/*
/public/worker/*
/public/styles/*
!/public/*/.gitkeep
/.sass-cache/
~/.sass-cache/
.sass-cache/
/bower_components/
*.log
/output/cd
/output/*
Gemfile.lock
composer.lock
stage.env
angular/.idea
lib
Capfile
build
prod.env