---
ip: "192.168.10.10"
memory: 2048
cpus: 1
hostname: appraiserpal
name: appraiserpal
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    - map: "/Users/netors/projects/appraisers/appraiserpal"
      to: "/home/vagrant/appraiserpal"

sites:
    - map: appraiserpal.local
      to: "/home/vagrant/appraiserpal/public"
    - map: appraiserpal-admin.local
      to: "/home/vagrant/appraiserpal/public"
    - map: appraiserpal-worker.local
      to: "/home/vagrant/appraiserpal/public"

databases:
    - appraiserpal

# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
