//colors
$white: #fff;
$black_30: rgba(0, 0, 0, 0.3);

//urls
$url_0: url(../images/landing/legacy/bg.jpg);

//@extend-elements
//original selectors
//.hero-section::before, .video-tour::before, .pricing::before, .twitter-feed::before
%extend_1 {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

//original selectors
//.btn:active, .btn:focus, .btn:active:hover, .btn:active:focus
%extend_2 {
    color: $white;
    outline: none;
    background-color: $primary-color;
}

.hero-section {
    background: $url_0 center center no-repeat scroll;
    background-size: cover;
    padding: 0 0 4.5em;
    position: relative;
    color: $white;
}

.hero-section::before {
    @extend %extend_1;
    background: $black_30;
}

.video-tour::before {
    @extend %extend_1;
}

.pricing::before {
    @extend %extend_1;
}

.twitter-feed::before {
    @extend %extend_1;
}

.welcome-message {
    margin-top: 4.5em;
    h1 {
        font-size: 36px;
        color: $white;
        font-weight: 400;
        margin: 0 0 24px;
    }
    h2 {
        font-size: 22px;
        color: $white;
        font-weight: 400;
        margin: 0;
    }
}

.btn {
    padding: 1em 3em;
    color: $white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: $primary-color;
    line-height: 1.5;
    border: none;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    font-weight: 400;
    text-transform: uppercase;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    @include transition-property(all);
    @include transition-duration(300ms);
    &:hover {
        color: $white;
        background-color: $primary-color;
    }
    &:active {
        @extend %extend_2;
        &:hover {
            @extend %extend_2;
        }
        &:focus {
            @extend %extend_2;
        }
    }
    &:focus {
        @extend %extend_2;
    }
}

.cta-btn p {
    color: $white;
    margin: .75em 0 0;
    font-size: 18px;
}