.panel-popup {
    &[data-full] {
        .panel-body {
            &::after {
                content: '...';
                display: inline;
                font-size: 20px;
                font-weight: bold;
                line-height: 1;
                color: $brand-primary;
                cursor: pointer;
            }
        }
    }
}