<div class="panel panel-default panel-list">
  <div class="panel-heading">
    <button type="button" class="btn btn-primary" ng-click="imageLabelFileManagerCtrl.openUploadImageFileModal()">Add
      new
    </button>
  </div>
  <div class="panel-body">
    <div class="row wrapper">
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-striped b-t b-light custom-table" cellspacing="0" width="100%"  datatable="imageLabelFileManagerCtrl.options" ao-column-defs="imageLabelFileManagerCtrl.columns" aa-data="imageLabelFileManagerCtrl.data">
            <thead>
            <tr>
              <th>Label</th>
              <th></th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
